* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #312D64;
}


header {
    display: grid;
    grid-template-areas: 
    "A"
    "B"
    "C"
    ;
}


.app header .astro {
    margin: auto;
    grid-area: A;
    max-width: 360px;
    
    
}

.app header .container {
    grid-area: B;
    text-align: center;
    padding-bottom: 30px;
}

.app header h1 {
    color: #B52184;
    font-weight: 900;
    padding-top: 25px;
    padding-bottom: 10px;
}

.app header p {
    padding-bottom: 35px;
    font-weight: 600;
}

main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: #343193;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

main .planets {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 350px;
    max-height: 330px;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
}
main .planets img {
    padding-bottom: 15px;
}
main .planets p {
    text-align: left;
    font-weight: 600;
}
main .planets h2 {
    color: #B52184;
    font-weight: 900;

}

section {
    padding-top: 80px;
}
section > form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
    
    
}

section .stars {
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
section h2 {
    color: #B52184;
    font-weight: 900;
}

section .input-wrapper input, textarea {
    border: 1px solid #343193;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
section .input-wrapper input {
    text-indent: 20px;
}
section .input-wrapper input::placeholder {
    text-indent: 20px;
}
section .input-wrapper .submit-button {
    text-indent: 0px;
}
section .input-wrapper {
    position: relative;
}
section .input-wrapper #user-icon {
    position: absolute;
    transform: translate(4px, 7px);
}
section textarea {
    height: 125px;
}

section > form .submit-button {
    color: white;
    background-color: #242265;
    width: 150px;
    margin-bottom: 60px;
}
section > form .submit-button:hover {
    background-color: #3835a2;
}


footer {
    background-color: #343193;
}

footer p {
    color: white;
    padding: 30px 0px;
}

@media (min-width: 900px) {
    
    header {
        display: flex;
        gap: 0;
        padding: 0px 20px 0px 100px;
        height: 100%;
        align-items:end;
        
    }   
    .container {
        max-width: 900px;
        margin: auto;
        display: grid;
        gap: 20px;
        justify-items: start;
        
    }
    .arrow {
        width: 40px;
    }
    .texto {
        padding-top: 100px;
        padding-bottom: 60px;
        text-align: center;
        
    }
    .astro {
        margin: 0;
        padding-bottom: 50px;
        min-width: 500px;
    }
    
    main {
        flex-direction: row;
        justify-content: center;
        align-items:normal;
        gap: 30px;
    }
    
    .planets {
        
        width: 300px;

    }

    section {
        padding: 0px 0px 0px 80px;
        display: grid;
        grid-template-areas: 
        "A C"
        ;
        align-items: center;
        justify-content: space-between; 
    }
    .form {
        grid-area: A;
        width: 500px;
        margin: 0px;
    }
    section .stars {
        grid-area: C;
        opacity: 1;
        height: fit-content;
        
        width: fit-content; 
    }

    footer {
        text-align: center;
    }
}